@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  *{
    font-family: 'Raleway', sans-serif;
    margin: 0%;
    padding: 0%;
    color: #333333;
}
#header{
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    color: white;
    z-index: 101;
    margin-right: 500px;
}
#start{
    position: -webkit-sticky;
    position: sticky;
    top: 500px;
    background-color: #1FC8BF;
    height: 70px;
    width: 300px;
    margin-right: 140px;
    border-radius: 100px;
    z-index: 101;
}
#starttext{
    position: relative;
    text-align: center;
    transform: translateY(60%);
    font-size: 20pt;
    color: white;
}
#icon{
    position: relative;
    height: 25px;
    margin-top: 15px;
    margin-left: 100px;
}
#screen1{
    height: 740px;
    display: flex;
    justify-content: center;
}
#miniscreen1text{
    font-size: 20px;
    margin-top: 100px;
}
#frame1{
    margin-top: -551px;
    margin-right: 120px;
    transform:scale(40%) ;
    z-index: 99;
}
#screen1text{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 50pt;
}
#screen1img{
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
}

#screen2{
    margin-left: 100px;
    height: 500px;
}
#screen2headertext{
    margin-top: 50px;
    z-index: 1;
}
#screen2wrapper{
    z-index: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#stuff{
    margin-top: 20px;
    font-size: 15px;
}
#stuff:hover{
    color: #1FC8BF;
}
#computer{
    overflow: hidden;
    margin-top: 50px;
}
#phone{
    margin-top: 50px;
}
#fire{
    margin-top: 50px;
}
#computer span{
    visibility: hidden;
}
#computer span img{
    position: absolute;
    transform:scale(40%) ;
    margin-left: 75px;
    margin-top: -400px;
}
#computer:hover span{
    animation: Appearance;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    visibility: visible;
}
#phone span{
    visibility: hidden;
}
#phone span img{
    position: absolute;
    transform:scale(40%) ;
    margin-left: 75px;
    margin-top: -543px;
}
#phone:hover span{
    animation: Appearance;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    visibility: visible;
    color: #1FC8BF;
}
#fire span{
    visibility: hidden;
}
#fire span img{
    position: absolute;
    transform:scale(40%);
    margin-left: 75px;
    margin-top: -703px;
}
#fire:hover span{
    animation: Appearance;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    visibility: visible
}
#wrapper{
    display: flex;
    flex-direction: column;
}
#screen3{
    margin-left: 200px;
    margin-right: 400px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
#lenaturflot img{
    margin-left: -100px;
    margin-top: -200px;
    transform:scale(50%);
    position: relative;
    z-index: 1;
}
#lenaturflottext{
    margin-top: -250px;
    margin-left: 300px;
    margin-right: 100px;
    position: relative;
    z-index: 2;
}
#lenaturflottext h3{
    color: #1FC8BF;
    margin-bottom: 10px;
}
#lenaturflottext h2{
    margin-bottom: 10px;
}
#b2b{
    margin-top: 50px;
}
#b2b img{
    margin-top: -700px;
    margin-left: 100px;
    transform:scale(20%);
}
#b2b h3{
    color: #1FC8BF;
    margin-bottom: 10px;
}
#b2btext{
    margin-left: 300px;
    margin-top: -660px;
    margin-right: 100px;
}
#b2b h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#ulula img{
    margin-top: -215px;
    margin-left: -100px;
    z-index: 1;
    position: relative;
}
#ululaimg{
    transform: scale(50%);
}
#ululatext{
    z-index: 100000;
    margin-top: -250px;
    margin-left: 300px;
    position: relative;
}
#ulula h3{
    color:#1FC8BF;
    margin-bottom: 10px;
}
#ulula h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#banner{
    display: flex;
    margin-top: 100px;
    background-color: #1FC8BF;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    overflow: hidden;
}
#bannerstart{
    background-color: white;
    height: 70px;
    width: 300px;
    margin-right: 140px;
    border-radius: 100px;
    margin-top: 25px;
}
#bannertext{
    margin-top: 30px;
    margin-right: 400px;
}
#roadmap{
    margin-top: 150px;
}
#roadmap h1{
    margin-left: 350px;
}
#roadmap img{
    margin-top: 50px;
    margin-left: 25%;
}
#wins{
    background-color: #1FC8BF;
    margin-top: 150px;
    height: 500px;
}
#winsh1{
    margin-top: 100px;
    margin-left: 180px;
}
#winswrapper{
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-top: 100px;
}
#winswrapperimg img{
    height: 150px;
    width: 150px;
}
#wins h1 p{
    margin-top: -500px;
    margin-left: 200px;
    z-index: 121;
    position: absolute;
}
#winstext1{
    margin-top: -80px;
    margin-left: 350px;
    position: absolute;
}
#winstext2{
    margin-top: -80px;
    margin-left: 1020px;
    position: absolute;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nametext{
    margin-top: 50px;
    margin-right: 770px;
    margin-bottom: 10px;
}
#companytext{
    margin-top: 50px;
    margin-right: 650px;
    margin-bottom: 10px;
}
#emailtext{
    margin-top: 50px;
    margin-right: 750px;
    margin-bottom: 10px;
}
#desctext{
    margin-top: 50px;
    margin-right: 720px;
    margin-bottom: 10px;
}
#name{
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 800px;
    height: 50px;
} 
#company{
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 800px;
    height: 50px;
}
#email{
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 800px;
    height: 50px;
}
#desc{
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 800px;
    height: 200px;

}
#button{
    margin-top: 50px;
    background-color: #1FC8BF;
    height: 70px;
    width: 500px;
    border-radius: 100px;
    border: none;
    margin-bottom: 100px;
}
#footer{
    background-color: #1FC8BF;
    margin-top: 20px;
    padding-top: 10px;
}
#footertext{
    margin-top: 50px;
    margin-left: 100px;
}
#footer img{
    margin-top: -80px;
    margin-left: 1200px;
    transform: scale(80%);
}